[config]
skip_core_tasks = true
min_version = "0.37.0"

[tasks.test]
description = "Run all testing steps (format, clippy, test)"
dependencies = ["test-format", "test-clippy", "test-workspace", "test-doc"]

[tasks.build]
description = "Build the project"
command = "cargo"
args = ["build", "--verbose"]

[tasks.test-format]
description = "Check code formatting"
command = "cargo"
args = ["fmt", "--", "--check"]

[tasks.format]
description = "Fix code formatting issues"
command = "cargo"
args = ["fmt"]

[tasks.test-clippy]
description = "Run clippy lints"
command = "cargo"
args = ["clippy", "--all-targets", "--all-features", "--", "-D", "warnings"]

[tasks.test-workspace]
description = "Run all workspace tests"
command = "cargo"
args = ["test", "--verbose", "--workspace", "--all-targets", "--all-features"]

[tasks.test-workspace.env]
TRYBUILD = "overwrite"

[tasks.test-doc]
description = "Run doc tests"
command = "cargo"
args = ["test", "--doc", "--workspace", "--all-features"]
